
{% set route_appelante = route_appelante|default('textejuridique_new') %}
{% if route_appelante=='textejuridique_new' %}  
    <form action="{{ path(route_appelante, {'id': texteJuridique.id} ) }}" method="post" {{form_enctype(form) }}>
    {% else %}      
        <form action="" method="post" {{form_enctype(form) }}>
        {% endif %}
        <p>
            {# On affiche tous les messages flash dont le nom est « info » #}
            {% for message in app.session.flashbag.get('info') %}
            <p>{{ message }}</p>
        {% endfor %}

        <div class="row">
            {{ form_errors(form) }}
            <div class="col-lg-6 col-md-6 col-xs-12">
                {{ form_errors(form.typetexte) }}
                <div class="form-group">
                    <label class="control-label col-lg-4  col-md-6 col-xs-6" for="Sujet">{{ 'Nature Texte'|trans }}:</label>

                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {{ form_widget(form.typetexte, { 'attr': {'class': 'form-control','placeholder': 'Entrer Nature'} }) }}
                    </div>
                </div>
                <br><br>
                {{ form_errors(form.numero) }}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-6 col-xs-6" for="numero">{{ 'Numero'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {{ form_widget(form.numero, { 'attr': {'class': 'form-control','placeholder': 'Entrer Numero'} }) }}
                    </div>
                </div>  
                <br><br>
                {{ form_errors(form.sujet) }}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-6 col-xs-6" for="Sujet">{{ 'Sujet'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {% set sujet = 'Entrer Sujet'|trans %}
                        {{ form_widget(form.sujet, { 'attr': {'class': 'form-control','placeholder': sujet} }) }} 
                    </div>
                  
                </div>
                <br><br>
                {{ form_errors(form.date) }}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-6 col-xs-6" for="Date">{{ 'Date'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {% set date1 = texteJuridique.date|date('d-m-Y')  %}
                        {% if (route_appelante!='textejuridique_new' and  app.request.locale=="ar") %}
                        {{ form_widget(form.date, { 'attr': {'class': 'form-control','placeholder': 'Entrer Date','widget' : 'single_text'} } )}} 
                        {{ date1 }} 

                        {% else %}
                        {{ form_widget(form.date, { 'attr': {'class': 'form-control','placeholder': 'Entrer Date','widget' : 'text'} } )}} 
                        {% endif %}
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="control-label col-lg-4  col-md-6 col-xs-6" for="Sujet">{{ 'Statut Texte'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {{ form_widget(form.statuttexte, { 'attr': {'class': 'form-control','placeholder': 'Entrer Statut'} }) }}
                    </div>
                </div>
                <br><br>
                {{ form_errors(form.brochure) }}
                {% if (route_appelante!='textejuridique_new')%}
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-6 col-xs-6" for="Brochure">{{ 'Fichier PDF'|trans }}: </label>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <a href="{{ asset('' ~ texteJuridique.brochure) }}">Télécharger (PDF)</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            {{ form_widget(form.brochure) }}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-6 col-xs-6" for="Brochure">{{ 'Fichier PDF'|trans }}: </label>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                           {{ form_widget(form.brochure) }}
                        </div>
                    </div>
                {% endif %}
                <br><br>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4  col-md-6 col-xs-6" for="Sujet">{{ 'JORT'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                            {% set jort = 'JORT'|trans %}
                            {{ form_widget(form.jort, { 'attr': {'class': 'form-control','placeholder': jort} }) }}
                    </div>
                </div>
                <br><br>
                {{ form_errors(form.date_jort) }}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-6 col-xs-6" for="date_jort">{{ 'Date_jort'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {% set date2 = (texteJuridique.dateJort)|date('d-m-Y')  %}
                        {% if (route_appelante!='textejuridique_new' and  app.request.locale=="ar") %}
                        {{ form_widget(form.date_jort, { 'attr': {'class': 'form-control','placeholder': 'Entrer Date JORT','widget' : 'single_text'} } )}} 
                        {{ date2 }} 

                        {% else %}
                        {{ form_widget(form.date_jort, { 'attr': {'class': 'form-control','placeholder': 'Entrer Date','widget' : 'text'} } )}} 
                        {% endif %}
                    </div>
                </div>
                <br><br>
                {{ form_errors(form.domaine) }}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-6 col-xs-6" for="Contenu">{{ 'Domaine Culturel'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {{ form_widget(form.domaine, { 'attr': {'class': 'form-control','placeholder': 'Choisir domaine'} }) }}
                    </div>
                </div>
                <br><br>
                {{ form_errors(form.contenu) }}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-6 col-xs-6" for="Contenu">{{ 'Contenu du Texte'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {{ form_widget(form.contenu, { 'attr': {'class': 'form-control','placeholder': 'Entrer Contenu'} }) }}
                    </div>
                </div>
                <br><br>
                {{ form_errors(form.nomination) }}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-6 col-xs-6" for="Contenu">{{ 'Nomination'|trans }}:</label>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        {{ form_widget(form.nomination) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {% if (route_appelante=='textejuridique_new') or  (route_appelante=='textejuridique_edit') %}
            <div class="row" style="  margin-top: 40px;">
                 <div class="modal-footer">
                    <input type="submit" class="btn btn-primary"  value="{{ 'Valider'|trans }}" />
                    <input  type="reset" class="btn btn-default" value="{{ 'Réinitialiser'|trans }}" />
                </div>
            </div>
        {% elseif route_appelante=='textejuridique_delete' %}
            <div class="row" style="  margin-top: 40px;">
                <div class="modal-footer">
                    <input type="submit" value="{{ 'Supprimer'|trans }}" class="btn btn-danger" />
                </div>
            </div>
        {% endif %}

    </form>
  
   