{% extends 'layout_front.html.twig' %}
{% block direction %}
    <HTML DIR="RTL">
   
            <title>{% block title %}{{ 'Culture Juridique'|trans }}{% endblock %}</title>

    </HTML>
        {% block stylesheet %}
            
             <link href="{{ asset('front2/css/bootstrap-rtl2.css') }}" rel="stylesheet">
             <link href="{{ asset('front2/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/plugins/cubeportfolio/css/cubeportfolio.min.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/nivo-lightbox.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/nivo-lightbox-theme/default/default.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/owl.carousel.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/owl.theme.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/animate.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/style-rtl.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/main.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/normalize.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/fontello.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/owl.transitions.css') }}" rel="stylesheet">
                <link href="{{ asset('front2/css/responsive.css') }}" rel="stylesheet">
                <!-- boxed bg -->
                <link href="{{ asset('front2/bodybg/bg1.css') }}" rel="stylesheet">
                <!-- template skin -->
                <link href="{{ asset('front2/color/default.css') }}" rel="stylesheet">

             
                <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
        {% endblock %}
        {% endblock %}
        {% block body %} 		
        {% endblock %}
        {% block javascripts %}
        {{parent()}}
        <script>
                        $(document).ready(function() {
                        $('#example').dataTable({
                            "dom": 'ftipr',
                            "searching": false,
                            "bInfo": false,
                            "pageLength": 6,
                            "order": [[ 1, "desc" ]],
                            "language": {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json"
                            }
                          })
                        }); 
                 
                </script>
        {% endblock %}