{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block wrapper %}
    {{parent()}}
    <h3>Edit</h3>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}
    <form action="{{ path(path_form, { 'id': entity.id }) }}" method="POST" {{ form_enctype(edit_form) }}>
     
         {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control','placeholder': 'Entrer name'} }) }}
    </form>
{% endblock %}
