{% extends '::layout_front.' ~ app.request.locale ~ '.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %} 
    <!-- Section: works -->

    <div class="row page-title text-left wow bounce" data-wow-delay="1s" >
        <h5><b><u>{{ (jort.Numero)|trans }}</u></b></h5>
        <div class="row col-lg-12 col-md-12">
            <div class="table-responsive" >
                 
                    <h6><table  class="table" >

                            <tr class="odd wow fadeInUp" data-wow-delay="2s"><td><b>{{ 'Date du texte'|trans }}:</b>  {{ jort.date|date('d/m/Y') }}</td></tr>

                        </table></h6>
                    <div class="telecharger"> <div class="pull-left"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></div> <a href="{{ asset('../web/uploads/jort/' ~ jort.brochure) }}" 
                                                                                                                                      rel="new-window" class="link_pdf" target="_blank">&nbsp; {{ 'Télécharger en format PDF'|trans }}</a>
                 
                </div>
            </div>

        </div>

    </div>
{% endblock %}
