{% extends '::layout.' ~ app.request.locale ~ '.html.twig' %}
{% block title %}{{ parent() }} |  {{ 'Cahier des Charges'|trans }}{% endblock %}
{% block PageHeading %}
    {% set route_appelante = route_appelante|default('cahiercharge_index') %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> {{ 'Supprimer un Cahier des Charges'|trans }}</h2>
                <div class="btn-group pull-right">                       
                    <a class="btn btn-primary btn-xs" data-toggle="tooltip" 
                       data-placement="top" title="" href="{{ path('cahiercharge_index') }}" data-original-title="Liste">
                        <span class="glyphicon glyphicon-list"></span>  {{ 'Liste des Cahiers des Charges'|trans }}</a>
                </div>
                <div class="clearfix"></div>
            </div>

        {% endblock %}

        {% block body -%}
            <div class="x_content">
                {% include "CultureJuridiqueBundle:cahiercharge:formulaire.html.twig" with {'route_appelante': 'cahiercharge_delete'} %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{parent()}}
{% endblock %}
