{% extends '::layout.' ~ app.request.locale ~ '.html.twig' %}
{% block title %}{{ parent() }} | {{ 'Projet de Loi'|trans }}{% endblock %}
{% block body %} 
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ 'Liste des projets de loi'|trans }}</h2>
                <div class="btn-group pull-right">                       
                    <a class="btn btn-primary btn-xs" data-toggle="tooltip" 
                       data-placement="top" title="" href="{{ path('projetloi_new') }}" data-original-title="Ajouter">
                        <span class="glyphicon glyphicon-plus"></span> {{ 'Ajouter un nouveau Projet de loi'|trans }}</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable-buttons" class="table table-striped table-bordered bulk_action">
                        <thead>
                            <tr>
                                <th>{{ 'Id'|trans }}</th>
                                <th>{{ 'Projet'|trans }}</th>
                                <th>{{ 'Phase de Projet'|trans }}</th>
                                <th>{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for projetLoi in projetLois %}
                                <tr>
                                    <td>{{ projetLoi.id }}</td>
                                    <td>{{ projetLoi.sujet }}</td>
                                    <td>{{ projetLoi.phaseprojet.phase }}</td>
                                    <td>

                                        <div class="text-center">
                                            <a class="btn btn-primary btn-xs" data-toggle="tooltip" 
                                               data-placement="top" title="" href="{{ path('projetloi_show', { 'id': projetLoi.id }) }}" data-original-title="afficher">
                                                <span class="glyphicon glyphicon-search"></span></a>
                                            <a class="btn btn-danger btn-xs" data-toggle="tooltip" 
                                               data-placement="top" title="" href="{{ path('projetloi_edit', { 'id': projetLoi.id }) }}" data-original-title="modifier">
                                                <span class="glyphicon glyphicon-edit"></span></a>
                                            <a class="btn btn-danger btn-xs" data-toggle="tooltip" 
                                               data-placement="top" title="" href="{{ path('projetloi_delete', { 'id': projetLoi.id }) }}" data-original-title="supprimer">
                                                <span class="glyphicon glyphicon-remove"></span></a>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
