{% extends '::layout.' ~ app.request.locale ~ '.html.twig' %}
{% block title %}{{ parent() }} | {{ 'Projet de Loi'|trans }}{% endblock %}
{% block PageHeading %}
    {% set route_appelante = route_appelante|default('projetloi_index') %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ 'Ajout un nouveau Projet de loi'|trans }}</h2>
                <div class="btn-group pull-right">                       
                    <a class="btn btn-primary btn-xs" data-toggle="tooltip" 
                       data-placement="top" title="" href="{{ path('projetloi_index') }}" data-original-title="Liste">
                        <span class="glyphicon glyphicon-list"></span> {{ 'Liste des Projets de Loi'|trans }}</a>
                </div>
                <div class="clearfix"></div>
            </div>

        {% endblock %}

        {% block body -%}
            <div class="x_content">
                {% include "CultureJuridiqueBundle:projetloi:formulaire.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{parent()}}
{% endblock %}