{% extends 'base.html.twig' %}

{% block body %}
    <h1>Souscategorie2</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousCategorie2.id }}</td>
            </tr>
            <tr>
                <th>Souscategorie2</th>
                <td>{{ sousCategorie2.sousCategorie2 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('souscategorie2_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('souscategorie2_edit', { 'id': sousCategorie2.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
