{% extends '::layout_front.' ~ app.request.locale ~ '.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %} 
    <!-- Section: works -->

    <div class=" page-title text-left wow bounce"  data-wow-delay="1s">
        <h5><b>{{ 'Constitutions de la République Tunisienne'|trans }}</b></h5>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">

            <tbody id="myTable">
                {% for constitution in constitutions %}
                <tr class="odd wow fadeInUp" data-wow-delay="1s">

                    <td  class="tbl-title" width="90%"><h6> <a href="{{ path('constitution_details', { 'id': constitution.id }) }}">{{ constitution.titre }}</a></h6></td>
                    <td  width="10%"><h6>{% if constitution.date %}{{ constitution.date|date('d/m/Y') }}{% endif %}</h6></td>
                    <!-- <td class="tbl-apply"><a href="#">Voir plus</a></td> -->


                </tr>
            {% endfor %}
            </tbody>
        </table>   
    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>

{% endblock %}
